.el-header,
.el-footer {
  background-color: #b3c0d1;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  background-color: #d3dce6;
  color: #fff;
  text-align: center;
  line-height: 200px;
}
.el-menu {
  height: 100%;
  border-right-width: 0px;
}

.el-main {
  background-color: #e9eef3;
  color: #333;
  text-align: center;
    height: 100%;
//   line-height: 160px;
}

body > .el-container {
  margin-bottom: 40px;
}
.el-menu-item.is-active {
    background-color: #434A50!important;
 }

/** 铺满 */
#index,
.el-container {
  /*设置内部填充为0，几个布局元素之间没有间距*/
  padding: 0px;
  /*外部间距也是如此设置*/
  margin: 0px;
  /*统一设置高度为100%*/
  height: 100%;
}
